.grocery-list-container {
  background-color: #03254c;
  height: 100vh;
  padding: 30px;
}

.grocery-list-heading {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.list-items-container {
  background-color: #f5f9fd;
  border-radius: 6px;
  padding: 30px;
}
